body{
    background-color: #003366;
    color: #ffffff;
}
div#main{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    height: 80%;   
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
footer {
    position: absolute;
    bottom: 10px;
    right: 10px;
    opacity: 0.4;
    text-align: right; 
    font-size: 14pt;
    font-family: 'Agency FB', 'Segoe UI', Tahoma, Verdana, sans-serif;
}
div#description {
    display: none;
    position: absolute;
    padding: 10px;
    box-sizing: border-box;
    width: 300px;
    height: 400px;
    box-shadow: 0 0 32px 10px;
    left: 50px;
    bottom: calc(50%-200px);
}
svg#map {
    width: 620px;
    height: 420px;
}

@media screen and (max-height: 360px) {
    svg#map {
        transform: scale(0.7);
    }
}

@media screen and (max-height: 480px) {
    svg#map {
        transform: scale(0.9);
    }
}

@media screen and (max-height: 640px) {
    svg#map {
        transform: scale(1.1);
    }
}

@media screen and (max-height: 780px) {
    svg#map {
        transform: scale(1.2);
    }
}

@media screen and (max-height: 1080px) {
    svg#map {
        transform: scale(1.4);
    }
}

path.area{
    stroke: #ffffff;
    stroke-width: 0.4px;
    fill: #0069cc;
}

img#logo{
    width: 34.5px;
}