body{
    color: #ffffff;
}

div#main{
    margin: 5% 10% 0 10%;
    height: 80%;   
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

div#logo, div#team_name, div#mode_switch{
    position: absolute;
    opacity: 0.4;
}

div#mode_switch, div#logo{
    width: 40px;
    height: 40px;
    background-size: 40px;
}

div#mode_switch{
    top: 10px;
    right: 10px;
}

div#logo{
    right: 10px;
    bottom: 36px;
}

div#team_name{
    right: 9px;
    bottom: 10px;
    text-align: right; 
    font-size: 14pt;
    font-family: 'Agency FB', 'Segoe UI', Tahoma, Verdana, sans-serif;
}

svg#map {
    width: 620px;
    height: 420px;
}

@media screen and (max-height: 360px) {
    svg#map {
        transform: scale(0.7);
    }
}

@media screen and (max-height: 480px) {
    svg#map {
        transform: scale(0.9);
    }
}

@media screen and (max-height: 640px) {
    svg#map {
        transform: scale(1.1);
    }
}

@media screen and (max-height: 780px) {
    svg#map {
        transform: scale(1.2);
    }
}

@media screen and (max-height: 1080px) {
    svg#map {
        transform: scale(1.4);
    }
}

path.area{
    stroke: #ffffff;
    stroke-width: 0.4px;
    fill: #0069cc;
}