
#forecast {
    height: 100%;
    margin: auto;
    width: 100%;
}

    #forecast > li {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        border-radius: 2px;
        margin: 1rem 0.5rem;
        padding: 0.5rem;
        background: #114856;
    }

.marvel-device .screen {
    height: 100%;
    overflow: scroll;
    width: 100%;
    text-align: left;
    background: #002B36;
}
